.msb-container {
  @media only screen and (max-width: 599px) { 
    margin: 1rem;
  }
  @media only screen and (min-width: 600px) and (max-width: 959px) { 
    margin: 1.5rem;
  }
  @media only screen and (min-width: 960px) { 
    margin: 1.5rem auto;
    max-width: 960px;
  }
}

.msb-nav-header {
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .msb-nav-header-text {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }
    .msb-nav-header-title {
      font-size: 2rem;
      color: rgba(black, .55);
    }
    .msb-nav-header-subtitle {

    }
    .msb-nav-header-nav {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      li {
        display: inline-block;
        margin-left: 1rem;
      }
    }
}