@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

@import './../css/variables/typography';

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-family: $msb-font-family;
  color: rgba(black, 0.87);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h1 {font-size: 1.5rem;}
h2 {
  font-size: 1.25rem;
  &:not(:first-of-type) {
    margin-top: 2.5rem;
  }
}
h3 {
  font-size: 1rem;
  margin-top: 2.5rem;
}
h4 {}
h5 {}
h6 {}

p {
  font-size: 0.875rem;
  line-height: 1.3;
}
