<h1>Resume</h1>
<h2>Experience</h2>
<p>I bring a unique perspective to the design of HR and HCM applications with over 20 years experience in UX design, rapid prototyping, user research and front-end development for rich internet applications and mobile devices. I practice user centered design principles to identify user needs, customer outcomes and business goals while creatively solving challenging design problems.</p>
<h3>Principal UX Designer</h3>
<p>UKG (formerly Ultimate Software) Weston, FL</p>
<p>June 2001 - present</p>
<p>UKG is a suite of Human Captial Management applications providing HR, payroll, talent and workforce management solutions. My roles have included user experience and product management responsibilities like customer and user research, design facilitation, wireframing and prototyping, interaction design and visual design</p>
<h4>Roles</h4>