<div class="msb-resume">
  <div class="resume-header">
    <div>avatar</div>
    <address>
      Michael S Burke<br>
      Product Designer<br>
      Nashville, TN<br>
    </address>
  </div>
  <h1 class="msb-sr-only">Resume</h1>
  <section class="resume-section">
    <h2 class="resume-heading">Experience</h2>
    <div class="resume-content">
      <p>I bring a unique perspective to the design of HR and HCM applications with over 20 years experience in UX
        design, rapid prototyping, user research and front-end development for rich internet applications and mobile
        devices. I practice user centered design principles to identify user needs, customer outcomes and business goals
        while creatively solving challenging design problems.</p>
      <h3>Principal UX Designer</h3>
      <p>UKG (formerly Ultimate Software) Weston, FL</p>
      <p>June 2001 - present</p>
      <p>UKG is a suite of Human Captial Management applications providing HR, payroll, talent and workforce management
        solutions. My roles have included user experience and product management responsibilities like customer and user
        research, design facilitation, wireframing and prototyping, interaction design and visual design</p>
      <h4>Roles</h4>

      <h5>Principal UX Designer</h5>
      <p>currently leading the design and engineering efforts on the frameworks team to re-imagine our product’s
        wayfinding, Information Architecture (IA) and overall navigational model as well as refreshing the visual design
        of our core product.</p>

      <h5>Product Owner, Lead UX Designer</h5>
      <p>led the design vision and product strategy for the first release of the UltiPro mobile app. Including initial
        product roadmap (mvp) based on customer and user research, IA/navigational concept model, and visual design</p>

      <h5>Lead UX Designer</h5>
      <p>led the product strategy and design vision for the initial release of Ultimate Software’s Ignite Design
        Language System including competitive and comparative research among design systems and deep product analysis
        across the product suite to standardize patterns and componentry</p>

      <h5>UX Design Manager</h5>
      <p>managed a team of UX designers and design researchers to deliver product experiences for new product offerings
        and the mobile app</p>

      <h3>Graphic & Web Designer</h3>
      Deloitte (formerly Deloitte Consulting), New York NY
      November 1998 - February 2001
      Design department style guides for printed materials. Coordinate design projects.

      <p>Provide editorial review and copywriting assistance. Develop internal and client-focused intranet and marketing sites including visual and interaction design and front-end programming.</p>
      <p>Design and create communication materials including: brochures, logos, newsletters, proposals and promotionalmaterials.</p>
      Graphic Designer
      Towers Watson (formerly Towers Perrin), New York NY
      March 1994 - November 1998
      Design and create internal and client deliverables including presentations, marketing and print materials. Develop
      and maintain style guides and train design staff in their use. Provide editorial review and copywriting
      assistance.

      <p>I use a variety of user centered design best practices and deliverables to collaborate with product,
        engineering and customers and help realize user outcomes. Includes interviewing, workshop facilitation, journey
        mapping, and prototyping with design apps and front-end code.</p>
    </div>
  </section>
  <section>
    <h2 class="resume-heading">Education</h2>
    <div class="resume-content">
      <h3></h3>
      <p></p>
    </div>
  </section>
</div>